#num1 {
	color: blue;
	font-size: 20px;
}

#num2 {
	color: red;
	font-size: 20px;
}

.flexbox-container {
	display: flex;
	justify-content: center;

}

.flexbox-item {
	width: 200px;
	margin: 10px;
	border: 3px solid #333;
	background-color: #dfdfdf;

}

.flexbox-item-1 {
	min-height: 100px;
	background-color: #afafaf;


}

.flexbox-item-2 {
	min-height: 140px;
	background-color: #101099;


}


.flexbox-item-3 {
	min-height: 200px;
	background-color: #abdcde;

}

